.App {
    height: 520px;
}

.main {
    width: 80%;
    margin-left: 10%;
    display: inline-block;
}
.card {
    width:25%;
    margin:2%;
    height:360px;
    box-shadow: 5px 10px 15px gray;
    float: left;
}

.card img {
    height: 180px;
    width: 60%;
    margin-left: 20%;
}

