.App {
    height: 520px;
}

.card {
    border: 1px solid #ccc;
    height: 300px;
    width: 300px;
    float: left;
    margin: 70px;
    box-shadow: 10px 10px 10px gray;
}

.card img {
    height: 250px;
    width: 100%;
}

.footer-container {
    width: 100%;
}